<!-- Heading Row-->
<div class="container">
  <div class="column-1">
    <img src="assets/photos/contact.png" alt="my image" />
  </div>
  <div class="column column-2">
    <h2 class="contact-title">Get in Touch</h2>
    <p>{{pageContent.contactText}}
    </p>
    <p><b>Email address:</b> {{pageContent.contactEmail}}</p>
    <p><b>Phone:</b> {{pageContent.contactPhone}}</p>
  </div>
</div>

<section class="contact-section">
  <div class="contact-intro">
    <h2 class="">Contact Me</h2>
    <p class="contact-description">
      Fill out the form below and I'll get back to you as soon as possible.
    </p>
  </div>

  <form [formGroup]="newContactForm"  (ngSubmit)="onSubmit()">

    <div class="form-group-container">
      <div class="form-group">
        <!-- <label for="name" class="form-label">Name</label> -->
        <input id="name" class="form-input" placeholder="Your name" type="text" formControlName="name" />
      </div>
      <div class="form-group">
        <!-- <label for="email" class="form-label">Email</label> -->
        <input id="email"  class="form-input" placeholder="Your email" type="email" formControlName="email" />
      </div>
      <div class="form-group">
        <!-- <label for="phone" class="form-label">Phone</label> -->
        <input id="phone" class="form-input" placeholder="206-123-1234" type="text" formControlName="phone" />
      </div>
      <div class="form-group">
        <!-- <label for="message" class="form-label">Message</label> -->
        <textarea class="form-textarea" id="message" placeholder="Your message" formControlName="message">
          </textarea>
      </div>
    </div>

    <div class="d-flex justify-content-center" id="button-wrapper">
      <div [hidden]="captcha">
        <re-captcha (resolved)="onRecaptchaResolved($event)" [siteKey]="siteKey">></re-captcha>
      </div>
      <div [hidden]="!captcha">
        <button mat-flat-button class="input-wrapper" mat-flat-button color="primary" [class.spinner]="loading"
          [disabled]="loading" type="submit">Submit</button>
      </div>
    </div>
  </form>
</section>