body {
  margin: 0; /* Remove default body margin */
  height: 50vh; /* Full height for centering */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align items at the top */
  padding-top: 80px; /* Adjust this value to move the box higher or lower */
}

form {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

.form-wrapper {
  /* border: 1px solid #ccc; */
  border-color:darkblue;
  border-style: solid;
  padding: 20px; /* Padding inside the box */
  max-width: 600px; /* Maximum width of the box */
  width: 100%; /* Make the box responsive */
  box-sizing: border-box; /* Include padding in width calculation */
  display: flex; /* Use flexbox to center children */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

input{
  font-size: 16px;
}

.input-wrapper {
  width: 100%; /* Full width of the input wrapper */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center the input horizontally */
}


.input-wrapper input {
  width: 100%; /* Full width of input */
  max-width: 400px; /* Limit input width to prevent it from being too wide */
  padding: 10px; /* Padding inside input */
  box-sizing: border-box; /* Include padding in width calculation */
  margin: 5px 0; /* Margin for spacing between inputs */
}

button {
  margin-top: 10px;
}

#link {
  margin-top: 10px;
  font-size: small;
}

.recaptcha-container {
  display: flex;            /* Use flexbox */
  justify-content: center;  /* Center horizontally */
  margin: 20px 0;          /* Optional margin for spacing */
}

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }