<body>

    <div class="form-wrapper">
        <form (ngSubmit)="onSubmit()">
            <h1 class="input-wrapper">Forgot Password</h1>
            <p>Enter the email address for your account</p>
            <!-- <label>User Name </label> -->
            <input placeholder="Enter Email" type="email" name="email" [(ngModel)]="email">
            <br><br>
            <!-- <div>
               {{currentName}}, {{currentID}}, {{loggedIn}}
            </div> -->
            <div class="d-flex justify-content-center">
                <div [hidden]="captcha" id="captcha-wrapper">
                    <re-captcha (resolved)="resolved($event)"
                        siteKey="6LdNGyEqAAAAAD94Gnk-Uv6_Ia0pzbHyJ99jQQjM"></re-captcha>
                </div>
                <div [hidden]="!captcha">
                    <button mat-flat-button class="input-wrapper" mat-flat-button color="primary"
                        [class.spinner]="loading" [disabled]="loading">Submit</button>
                </div>
            </div>
        </form>
    </div>
</body>