<div class="d-flex justify-content-left">
  <button mat-button color="primary" (click)="back()">Back</button>
</div>

<body>
  <div class="admin-dashboard-container">
    <h1>Admin Dashboard</h1>

    <div class="requests">
      <section *ngIf="pendingRequests.length > 0; else noRequests">
        <h2>Pending Join Requests</h2>
        <table class="requests-table">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Email</th>
              <th>Requested At</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of pendingRequests">
              <td>{{ request.userName }}</td>
              <td>{{ request.email }}</td>
              <td>{{ request.requestedAt | date:"MM/dd/yy, HH:mm"}}</td>
              <td>
                <div class="button-container">
                  <button (click)="approveRequest(request.requestId)" class="btn-approve">Approve</button>
                  <button (click)="rejectRequest(request.requestId)" class="btn-reject">Reject</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </section>

      <!-- No Requests Message -->
      <div class="centered-text">
        <ng-template #noRequests>
          <span>No pending join requests at the moment.</span>
        </ng-template>
      </div>
    </div>

    <div class="link-wrapper">

      <a *ngIf="webSite" class="link" [routerLink]="['/project', 1]"><strong>Site Content</strong></a>
      <a class="link" [routerLink]="['/project', currentProjectId]"><strong>Group Details</strong></a>
      <a class="link" routerLink="/search"><strong>All Users</strong></a>
      <a class="link" (click)="onNewUser()"><strong>SignUp Link</strong></a>
    </div>
    <div>
      <button class="report-button" mat-flat-button color="primary" (click)="onSendReports()" [class.spinner]="loading"
        [disabled]="loading">Send Backup</button>
    </div>
    <div>
      <div class="centered-text">
        <span>Donate securely using</span><br>
        <span>PayPal to support this project</span>
      </div>
      <a href="https://www.paypal.com/donate/?hosted_button_id=QCBB3HCU2ZJJA" target="_blank" rel="noopener noreferrer">
        <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate with PayPal"
          class="paypal-button" />
      </a>
    </div>
  </div>
</body>