<!-- <div class="d-flex justify-content-left">
    <button mat-button color="primary" (click)="back()">Back</button>
</div> -->

<div class="container">
    <h1 class="header-wrapper">Privacy Policy</h1>
    <div class="section">

        <p>We are committed to protecting your privacy. This Privacy Policy explains how we collect, use, and safeguard
            your personal information when you use our website to track real estate investment properties.</p>

        <h2>1. Information We Collect</h2>
        <p>We may collect personal information such as your name, username, email address, city, state and country to
            manage your account and provide the services offered by the website.</p>

        <h2>2. Use of Information</h2>
        <p>The information collected is used solely for the purpose of maintaining and improving the functionality of
            the website. We do not share, sell, or distribute your personal information third parties, except as
            necessary to comply with legal obligations.</p>

        <h2>3. Security of Information</h2>
        <p>We implement security measures to protect your personal information from unauthorized access, alteration, or
            disclosure.</p>

        <h2>4. Changes to This Privacy Policy</h2>
        <p>We may update this Privacy Policy from time to time. If we make significant changes, we will notify you by
            email or by posting a notice on the website.</p>

        <h2>5. Terms and Conditions</h2>
            <p>To view the terms and conditions for use of this website, please click: 
        <a routerLink="/terms" style="display: inline;">Terms</a></p>

        <h2>6. Contact Us</h2>
            <p>If you have any questions about this Privacy Policy, or wish to remove your account, including
                all collected data, please contact us at:
        <a routerLink="/contact" style="display: inline;">Contact</a></p>
    </div>
</div>