button {
    margin-left: .5em;
    margin-top: .5em;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

.header-wrapper {
    text-align: center;
}

p {
    line-height: 1.6;
}

.section {
    margin-bottom: 40px;
}

 /* Responsive design for medium and small screens */
 @media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
}



