
header > h1 { display: inline-block; }
header span { margin-left: 55px; } 

h1 {
    margin: 30px;
}

.searchWrapper {
    display: inline-block;
    margin-left: 30px;
}

input{
    font-size: 16px;
}

.list-wrapper {
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color:darkblue;
    border-style: solid;
    width: 50%;
    padding: 20px;
    justify-content: space-between;
}