<body>

    <header>
        <h1>Search Users </h1>
    </header>

    <div class="searchWrapper">
        <mat-form-field appearance="outline">
            <mat-label>Search for user</mat-label>
            <input matInput #searchkeyword (ngModelChange)="searchByKeyword(searchkeyword.value)" [(ngModel)]="filterKeyword" name="searchKey"
                id="searchKey" placeholder="Search any user">
            <mat-hint>Search any user by first or last name</mat-hint>
        </mat-form-field>
    </div>

    <div class="list-wrapper" *ngFor="let u of userList">
        <p><strong>{{u.userName}}</strong></p>
        <p>{{u.firstName}} {{u.lastName}}</p>
        <p>{{u.city}}, {{u.state}}</p>
        <div *ngIf="this.currentUserId > 0">
            <a [routerLink]="['/profile', u.userId]">View Profile</a>
        </div>
    </div>

</body>