<div class="form-wrapper">

    <form (ngSubmit)="signUp()">

        <h1 class="input-wrapper">Sign Up</h1>

        <label>User Name </label>
        <input placeholder="Enter UserName" type="text" name="userName" [(ngModel)]="newUser.userName"><br><br>
        <label>Password </label>
        <input placeholder="Enter Password" type="password" name="password" [(ngModel)]="newUser.password"><br><br>
        <label>First Name </label>
        <input placeholder="Enter First Name" type="text" name="firstName" [(ngModel)]="newUser.firstName"><br><br>
        <label>Last Name </label>
        <input placeholder="Enter Last Name" type="text" name="lastName" [(ngModel)]="newUser.lastName"><br><br>
        <label>Email </label>
        <input placeholder="Enter Email" type="text" name="email" [(ngModel)]="newUser.email"><br><br>
        <label>City </label>
        <input placeholder="Enter City" type="text" name="city" [(ngModel)]="newUser.city"><br><br>
        <label>State </label>
        <input placeholder="Enter State" type="text" name="state" [(ngModel)]="newUser.state"><br><br>
        <label>Country</label>
        <input placeholder="Enter Country" type="text" name="country" [(ngModel)]="newUser.country"><br><br>

        <button class="input-wrapper" mat-flat-button color="primary">Sign Up</button>
    </form>
</div>