.form-wrapper {
  margin: 4em 0.7em;
  border-color:darkblue;
  border-style: solid;
  width:fit-content;
  padding: 1em;
  height: 375px;
} 

.input-wrapper {
    /* margin-left: 1em; */
    text-align: left;
    
}

input{
    font-size: 16px;
}

form {
    margin: 0.5em;
    width: 80%;
    justify-content: center;
    text-align: center;
    font-size: medium;
  }

  label {
    margin-right: .5em;
    display: inline-block;
    width: 5em;
    text-align: right;
}

button {
    margin-top: 75px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

  #captcha-wrapper {
    width: 50%
  }


