.form-wrapper {
    margin: 2em;
    border-color:darkblue;
    border-style: solid;
    width:fit-content;
    padding: 1em;
}

.input-wrapper {
    /* margin-left: 1em; */
    text-align: left;
    
}

input{
    font-size: 16px;
}

form {
    margin: 0.5em;
    width: 80%;
    text-align: left;
  }

  label {
    margin-right: .5em;
    display: inline-block;
    width: 5em;
    text-align: right;
}


