.post-wrapper {
    margin: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    padding: 0.5em;
    justify-content: space-between;
}

button {
    margin-left: .5em;
    margin-top: .5em;
}

.content-wrapper {
    text-align: left;
    width: 50%;
    padding-left: .1em;
    margin-bottom: .5em;
}

form {
    margin: 2em;
    width: 80%;
  }

textarea {
    width: 80%;
    height: 6em;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
    word-wrap: break-word;
}