.post-wrapper {
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border-color:darkblue;
    border-style: solid; */
    width: 50%;
    padding: 20px;
    justify-content: space-between;
}

textarea {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}