<body>
    <div class="header-wrapper">
        @if (postLength == 0) {
        <h2>There are no active properties for sale at this time.</h2>
        }
        @else {
        <h2>Active Properties For Sale</h2>
        }
    </div>
    <div class="form-container">
        <div class="form-wrapper" *ngFor="let p of postList.slice(0,100).reverse(); let i=index;">
            <div class="content-wrapper">
                <div><strong>{{p.content}}</strong></div>
                <img class="img" width="300" src="{{p.photoURL}}" alt="">
                <div>{{p.title}}</div>
            </div>
            <div [hidden]="true">{{i}}</div>
        </div>
    </div>
    <div class="header-wrapper">
        <h3>If you have any questions about these properties, don't hesitate to contact us.</h3>
        <button mat-button color="primary" routerLink="/contact">Contact</button>
    </div>
</body>