<div class="d-flex justify-content-left">
    <button mat-button color="primary" (click)="back()">Back</button>
</div>

<div class="container">
    <h1 class="header-wrapper">Terms of Agreement</h1>
    <div class="section">

        <p>By using this website, you agree to the following terms and conditions. Please read them carefully before
            proceeding.</p>

        <h2>1. Acceptance of Terms</h2>
        <p>By using the website, you agree to use the site as is and acknowledge that we provide no warranties regarding
            its functionality, availability, or accuracy.</p>

        <h2>2. User Conduct</h2>
        <p>You agree not to post any content that is inappropriate, illegal, or harmful, including offensive language,
            spam, or other objectionable material. You are responsible for any content you post and for ensuring that it
            complies with all applicable laws and regulations.</p>
        <p>In addition, you agree to only post the address and photo, and any other information, of a real estate
            property that you have under a legally binding contract with permission to market by the owner.
        </p>

        <h2>3. Limitation of Liability</h2>
        <p>We are not responsible for any loss, damage, or harm caused by the use or inability to use the website. The
            website is provided on an “as is” basis without warranties of any kind, whether express or implied.</p>

        <h2>4. Changes to These Terms</h2>
        <p>We reserve the right to modify these terms at any time. Continued use of the website constitutes your
            acceptance of the updated terms.</p>

        <h2>5. Termination</h2>
        <p>We reserve the right to suspend or terminate your access to the website at any time if you violate these
            terms or engage in conduct harmful to the website or its users.</p>

        <h2>6. Contact Us</h2>
        <p>If you have any questions about these Terms and Conditions, or wish to remove your account, including
            all collected data, please contact us at:
            <a routerLink="/webmaster" style="display: inline;">Webmaster</a>
        </p>
    </div>
</div>