<!-- Page Content-->

<body>
    <!-- Heading Row-->
    <div class="upper-grid">
        <div class="grid-item"><img class="" width="" src="assets/photos/combined_houses.jpg" alt="..." />
        </div>  
        <div class="grid-item">
            <h1 class="">{{pageContent.homeMainTitle}}</h1>
            <p>{{pageContent.homeMainText}}</p>
            <button mat-button color="primary" routerLink="/post">Active Properties</button>
        </div>
    </div>
    <!-- Call to Action-->

    <div class="paragraph-block">
        <p class="">{{pageContent.homeTagLine}}</p>
    </div>

    <!-- Content Row-->
    <div class="lower-grid">
        <div class="grid-item">
            <h2 class="card-title">{{pageContent.homeSub1Title}}</h2>
            <p class="card-text">{{pageContent.homeSub1Text}}</p>
                <!-- <button mat-flat-button color="primary">More Info</button> -->
        </div>
        <div class="grid-item">
            <h2 class="card-title">{{pageContent.homeSub2Title}}</h2>
            <p class="card-text">{{pageContent.homeSub2Text}}</p>
                <!-- <button mat-flat-button color="primary">More Info</button> -->
        </div>
        <div class="grid-item">
            <h2 class="card-title">{{pageContent.homeSub3Title}}</h2>
            <p class="card-text">{{pageContent.homeSub3Text}}</p>
                <button mat-button color="primary" routerLink="/contact">Contact</button>
        </div>
    </div>
</body>