<!-- Page Content-->

<body>
    <!-- Heading Row-->
    <div class="upper-grid">
        <div class="grid-item"><img class="" width="" src="assets/photos/combined_houses.jpg" alt="..." />
        </div>  
        <div class="grid-item">
            <h1 class="">{{pageContent.mainTitle}}</h1>
            <p>{{pageContent.mainText}}</p>
            <button mat-button color="primary" routerLink="/post">Active Properties</button>
        </div>
    </div>
    <!-- Call to Action-->

    <div class="paragraph-block">
        <p class="">{{pageContent.tagline}}</p>
    </div>

    <!-- Content Row-->
    <div class="lower-grid">
        <div class="grid-item">
            <h2 class="card-title">{{pageContent.leftTitle}}</h2>
            <p class="card-text">{{pageContent.leftText}}</p>
                <!-- <button mat-flat-button color="primary">More Info</button> -->
        </div>
        <div class="grid-item">
            <h2 class="card-title">{{pageContent.centerTitle}}</h2>
            <p class="card-text">{{pageContent.centerText}}</p>
                <!-- <button mat-flat-button color="primary">More Info</button> -->
        </div>
        <div class="grid-item">
            <h2 class="card-title">{{pageContent.rightTitle}}</h2>
            <p class="card-text">{{pageContent.rightText}}</p>
                <button mat-button color="primary" routerLink="/contact">Contact</button>
        </div>
    </div>
</body>