<div class="form-wrapper">
    <form (ngSubmit)="signIn()">
        <h1 class="input-wrapper">Sign In</h1>
        <!-- <label>User Name </label> -->
        <input #myinput placeholder="Enter User Name" type="text" name="email" [(ngModel)]="userName">
        <br><br>
        <!-- <label>Password </label> -->
        <input placeholder="Enter Password" type="password" name="password" [(ngModel)]="password">
        <br><br>

        <!-- <div>
           {{currentName}}, {{currentID}}, {{loggedIn}}
        </div> -->
        <div class="d-flex justify-content-center">
            <button mat-flat-button class="input-wrapper" mat-flat-button color="primary">Sign In</button>
        </div>
    </form>
</div>