.form-wrapper {
    margin: 30px;
    border-color:darkblue;
    border-style: solid;
    width:fit-content;
    padding: 20px;
    height: 435px;
}

.input-wrapper {
    margin-left: 130px;
    
    /*  */
}

input{
    font-size: 16px;
}

form {
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    text-align: left;
    font-size: medium;
}

label {
    margin-right: 10px;
    display: inline-block;
    width: 150px;
    text-align: right;
}

button {
    margin-top: 75px;
}