<body>
    <div class="form-wrapper">
        <form [formGroup]="signinForm" (ngSubmit)="signIn($event)" (keydown.enter)="onEnter($event)">
            <h1 class="input-wrapper">Sign In</h1>
            <!-- <label>User Name </label> -->
            <input class="input-wrapper" placeholder="Enter User Name" type="text" formControlName="username">
            <br><br>
            <!-- <label>Password </label> -->
            <input class="input-wrapper" placeholder="Enter Password" type="password" formControlName="password">
            <br><br>

            <!-- <div>
           {{currentName}}, {{currentID}}, {{loggedIn}}
        </div> -->
        <div class="recaptcha-container">
            <div [hidden]="captcha">
                <re-captcha (resolved)="resolved($event)"
                    [siteKey]="siteKey"></re-captcha>
            </div>
            <div [hidden]="!captcha">
                <button mat-flat-button class="input-wrapper" mat-flat-button color="primary">Sign In</button>
            </div>
        </div>
            <div class="input-wrapper" id="link">
                <a [routerLink]="['/forgot-password']">Forgot Password</a>
            </div>
        </form>
    </div>
</body>