.form-wrapper {
    margin: 5em 5em;
    border-color:darkblue;
    border-style: solid;
    width:fit-content;
    padding: 1em;
    height: 370px;
}

.input-wrapper {
    align-items: center;
}

input{
    font-size: 16px;
}

form {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    text-align: center;
    font-size: medium;
}

button {
    margin-top: 75px;
}