.form-wrapper {
    margin: 4em 4em;
    border-color:darkblue;
    border-style: solid;
    width:fit-content;
    padding: 1em;
    height: 375px;
}

button {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}