.header-wrapper {
    margin: 2em;
    width: 80%;
    padding: 0.5em; 
}

.post-wrapper {
    margin: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    padding: 0.5em;
    justify-content: space-between;
}

.list-wrapper {
    margin: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-color:darkblue;
    border-style: solid;
    width: 80%;
    padding: 0.5em;
    justify-content: space-between;
}

textarea {
    width: 80%;
    height: 6em;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
    word-wrap: break-word;
}

button {
    display: inline-block;
    vertical-align: top;
    margin-left: .5em;
    margin-top: .5em;
}

.content-wrapper {
    text-align: left;
    width: 80%;
    padding-left: .1em;
    margin-bottom: .5em;
}

.posted-wrapper {
    text-align: right;
    padding-right: 5%
}

label {
    margin-left: .3em;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 10px;
}

.left-buttons {
    display: flex;
    gap: 10px;
}

/* .right-button {
    left empty as the default alignment is right
    due to justify-content space-between;
} */

.btn {
    padding: 10px 20px;
    /* font-size: 16px; */
}

/* @media only screen and (max-width: 100%) {

    .button-row #right{
      margin-right: 10px;
    }
  
  } */