h1 {
    margin: 30px;
}

.post-wrapper {
    margin: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    padding: 0.5em;
    justify-content: space-between;
    margin-bottom: -1.5em;
}


textarea {
    width: 85%;
    height: 3em;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 0.5em;
    word-wrap: break-word;
}

button {
    display: inline-block;
    vertical-align: center;
    margin-left: .5em;
    margin-top: .5em;
}

.content-wrapper {
    text-align: left;
    width: 85%;
    padding-left: .1em;
    margin-bottom: .5em;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.flex-container {
    display: flex;
    flex-direction: column;
    width: 3em;
}

.action-wrapper {
    padding: 10px;
    margin-bottom: 30px;
}

.active-wrapper {
    display: flex;
    padding: 10px;
}

.active {
    margin: 10px;
}

a {
    text-decoration: none;
}


input {
    width: 85%;
    font-size: 16px;
    margin-bottom: 0.3em;
    height: 25px;
}
.responsive-table {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr); /* Adjust columns to take full space, equal width */
    gap: 0.2em; /* Increase gap between fields */
    margin-bottom: 1em;
    overflow: visible;
}

mat-form-field {
    width: 100%; /* Ensure the form field takes full width of the grid item */
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

mat-form-field input {
    /* background-color: white !important;  */
    padding: 0px 8px; /* Adjust left-right padding as needed */
    height: 36px; /* Decrease height of input field */
    font-size: 16px; /* Adjust font size if needed */
}

mat-form-field .mat-form-field-infix {
    /* background-color: white !important; */
    padding: 0; /* Reduce padding to decrease height */
}

/* mat-form-field .mat-form-field-outline {
    border-width: 1px; 
    border-radius: 4px;
    padding: 0;
} */

/* Optional: Remove the label spacing */
mat-form-field .mat-form-field-label {
    padding: 0; /* Adjust label positioning if needed */
}

.table-row {
    display: contents;
}

.table-row div {
    padding: 2px;
}

@media (max-width: 1080px) {
    .responsive-table {
        grid-template-columns: repeat(3, 200px);
    }

    /* @media (max-width: 830px) {
        .responsive-table {
            grid-template-columns: repeat(3, 150px);
        }
    } */

    @media (max-width: 730px) {
        .responsive-table {
            grid-template-columns: repeat(2, 200px);
        }
    }

    @media (max-width: 450px) {
        .responsive-table {
            grid-template-columns: repeat(1, 250px);
        }
    }
}