<div class="header-wrapper"> 
    <h1>Welcome {{currentUser}} to your Daily Feed </h1>
    <!-- <button mat-flat-button color="primary" (click)="logout()">Logout</button> -->
</div>

<form class="post-wrapper" (ngSubmit)="addPost()">
    <textarea #myinput placeholder="Post new Quote" type="text" name="content" [(ngModel)]="newPost.content"></textarea>
    <!-- <br><br> -->
    <button mat-flat-button color="primary">Post!</button>
</form>

<!-- <div class="list-wrapper" *ngFor="let p of postList.reverse() | slice:0:10; let i=index;"> -->
<div class="list-wrapper" *ngFor="let p of postList.slice(0,100).reverse(); let i=index;">
    <div class="content-wrapper">{{p.content}}</div>
    <div class="posted-wrapper"> <a [routerLink]="['/profile', p.userId_fk]">{{p.posted | date:"MM/dd/yy, HH:mm"}}, <strong>{{p.userName}} </strong> 
        <div [hidden]="true">{{i}}</div></a> </div>
</div>