<div class="header-wrapper"> 
    <h1>Welcome {{currentUser}}</h1>
    <!-- <button mat-flat-button color="primary" (click)="logout()">Logout</button> -->
</div>



<!-- <div class="content-wrapper" *ngFor="let q of quote">
    <h3>"{{ q.content }}"  <i>{{q.author}}</i></h3>    
</div> -->

<form class="post-wrapper" (ngSubmit)="addPost()">
    <textarea class="content-wrapper" #myinput placeholder="Post new Address" type="text" name="title" [(ngModel)]="newPost.title"></textarea>
    <textarea class="content-wrapper" #myinput placeholder="Post Description" type="text" name="content" [(ngModel)]="newPost.content"></textarea><br>
    <mat-checkbox
        [checked]="newPost.visible === 1" 
        (change)="newPost.visible = $event.checked ? 1 : 0">Visible
    </mat-checkbox>
    <button mat-flat-button color="primary">Post!</button>
</form>
<mat-form-field appearance="outline" class="searchWrapper">
    <mat-label>Search address</mat-label>
    <input matInput #searchkeyword (keyup)="searchByKeyword(searchkeyword.value)" name="searchKey" id="searchKey"
        placeholder="Search address">
    <mat-hint>Search any part of address</mat-hint>
</mat-form-field>

<div class="list-wrapper" *ngFor="let p of postList.slice(0,100).reverse(); let i=index;">
    <div class="content-wrapper"><strong>{{p.content}}</strong></div>
    <img class="img" width="300" src="{{p.photoURL}}" alt="">
    <div class="content-wrapper">{{p.title}}</div>
    <div class="posted-wrapper"> <a>{{p.posted | date:"MM/dd/yy, HH:mm"}}, <strong>{{p.userName}} </strong> 
        <div [hidden]="true">{{i}}</div></a> </div>
    <button mat-button color="primary" [routerLink]="['/post', p.postId]">See Comments</button>
    <button mat-button color="primary" [routerLink]="['/edit', p.postId]">Edit</button>
</div>
