<div class="d-flex justify-content-left">
  <button mat-button color="primary" (click)="back()">Back</button>
</div>

<h1>Enter New Property</h1>

<form [formGroup]="newPostForm" class="post-wrapper" (ngSubmit)="addPost()">
  <div>
    <input placeholder="Enter Street Address" type="text" name="address" formControlName="address">
  </div>
  <div>
    <input placeholder="City" type="text" name="address" formControlName="city">
  </div>
  <div>
    <input placeholder="State" type="text" name="address" formControlName="state">
  </div>
  <div>
    <input placeholder="Zip" type="text" name="address" formControlName="zip">
  </div>
  <!-- <p class="content-wrapper"><strong>User defined notes: call code example (0-no answer,1-not interested,2-potential
            deal)</strong>
    </p> -->
  <div class="responsive-table">
    <div class="table-row">
      <div>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Owner" type="text" formControlName="owner" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Telephone" type="text" formControlName="telephone" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Condition" formControlName="condition" [matAutocomplete]="conditionAuto"
            #trigger="matAutocompleteTrigger" (focus)="trigger.openPanel()" />
          <mat-autocomplete #conditionAuto="matAutocomplete">
            <mat-option *ngFor="let option of conditionOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Delinquent?" formControlName="delinquent" [matAutocomplete]="delinquentAuto"
            #trigger="matAutocompleteTrigger" (focus)="trigger.openPanel()" />
          <mat-autocomplete #delinquentAuto="matAutocomplete">
            <mat-option *ngFor="let option of delinquentOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Beds" type="text" formControlName="bed" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Bath" type="text" formControlName="bath" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input matInput placeholder="SqFt" type="text" formControlName="sqft" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Estimate-e.g.99K" type="text" formControlName="estimate" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Offer-e.g.79K" type="text" formControlName="offer" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Calls" formControlName="call" [matAutocomplete]="callAuto"
            #trigger="matAutocompleteTrigger" (focus)="trigger.openPanel()" (blur)="trigger.closePanel()" />
          <mat-autocomplete #callAuto="matAutocomplete" [displayWith]="displayFn"
          (optionSelected)="onOptionSelected($event, 'call')">
            <mat-option *ngFor="let option of callOptions" [value]="option.id">
              <div class="dropdown-content">
                <span class="column1">{{ option.id }}</span>
                <span class="column2">{{ option.name }}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </div>


  <textarea class="content-wrapper" placeholder="Post additional notes" type="text" formControlName="notes"></textarea>

  <div class="action-wrapper">

    <div class="active-wrapper">
      <button class="active" mat-flat-button color="primary">Add Post</button><br>
      <!-- <mat-checkbox class="active" formControlName="visible">
                Visible to public
            </mat-checkbox> -->
    </div>
  </div>
</form>