<div class="form-wrapper">

    <form (ngSubmit)="onSubmit()">

        <h1 class="input-wrapper">Edit User Profile</h1>

        <label>User Name </label>
        <input placeholder="Enter UserName" type="text" name="userName" [(ngModel)]="editUser.userName"><br><br>
        <!-- <label>Password</label> -->
        <!-- <input placeholder="Enter Password" type="password" name="password" [(ngModel)]="editUser.password"><br><br> -->
        <label>First Name</label>
        <input placeholder="Enter First Name" type="text" name="firstName" [(ngModel)]="editUser.firstName"><br><br>
        <label>Last Name</label>
        <input placeholder="Enter Last Name" type="text" name="lastName" [(ngModel)]="editUser.lastName"><br><br>
        <label>Email </label>
        <input placeholder="Enter Email" type="email" name="email" [(ngModel)]="editUser.email"><br><br>
        <label>City </label>
        <input placeholder="Enter City" type="text" name="city" [(ngModel)]="editUser.city"><br><br>
        <label>State </label>
        <input placeholder="Enter State" type="text" name="state" [(ngModel)]="editUser.state"><br><br>
        <label>Country</label>
        <input placeholder="Enter Country" type="text" name="country" [(ngModel)]="editUser.country"><br><br>

        <button class="input-wrapper" mat-flat-button color="primary">Update</button>
    </form>
</div>