.sidenav-container {
  height: 100%;
  max-width: 100%;
}

.sidenav {
  width: 150px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* user defined */

.site-menu {
  margin-left: 15px;
}

.site-title {
  margin-left: 10px;
}

/* push the footer to the bottom when content
of the page is less than a full page. */

.sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  position: relative;
  flex: 1 0 auto;
}

.content {
  flex: 1 0 auto;
}

.footer {
  color: white;
  justify-content: space-between;
  height: 50px;
  flex-shrink: 0;
}

.footer #copyright {
  font-size: small;
  padding-left: 1%;
}

.footer #creator {
  font-size: small;
  color:white
  /* padding-right: 4%; */
}

/* a{
  color:white
  } */


@media only screen and (max-width: 100%) {

  .footer #copyright {
    margin-right: 10px;
  }

}