<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side' " [opened]="(isHandset$ | async) === false">

    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <!-- If user is signed in, use this menu, othewise use the signedout menu-->
      <ng-template [ngIf]="isActive | async" [ngIfElse]="signedOut">
        <h2 class="site-menu">Welcome {{currentName}}</h2>

        <!--Only show this div section if single user website mode-->
        <div *ngIf="webSite">
          <a mat-list-item routerLink="/home" *ngIf="(isHandset$ | async) === true" (click)="drawer.toggle()"
            (click)="refreshContent()">Home</a>
          <a mat-list-item routerLink="/home" *ngIf="(isHandset$ | async) === false" (click)="refreshContent()">Home</a>
        </div>

        <a mat-list-item routerLink="/active" *ngIf="(isHandset$ | async) === true"
          (click)="drawer.toggle()">Properties</a>
        <a mat-list-item routerLink="/active" *ngIf="(isHandset$ | async) === false">Properties</a>
        <a mat-list-item routerLink="/admin-dashboard" *ngIf="(isHandset$ | async) === true"
          (click)="drawer.toggle()">Admin</a>
        <a mat-list-item routerLink="/admin-dashboard" *ngIf="(isHandset$ | async) === false">Admin</a>
        <a mat-list-item routerLink="/webmaster" *ngIf="(isHandset$ | async) === true"
          (click)="drawer.toggle()">Webmaster</a>
        <a mat-list-item routerLink="/webmaster" *ngIf="(isHandset$ | async) === false">Webmaster</a>

        <a mat-list-item (click)="logout()" *ngIf="(isHandset$ | async) === true" (click)="drawer.toggle()">Sign
          Out</a>
        <a mat-list-item (click)="logout()" *ngIf="(isHandset$ | async) === false">Sign Out</a>
      </ng-template>

      <!-- If user is signed out, use this menu-->
      <ng-template #signedOut>

        <a mat-list-item routerLink="auth/signin" *ngIf="(isHandset$ | async) === true" (click)="drawer.toggle()">Sign
          In</a>
        <a mat-list-item routerLink="auth/signin" *ngIf="(isHandset$ | async) === false">Sign In</a>

       <!--Only show this div section if single user website mode-->
       <div *ngIf="webSite">
          <a mat-list-item routerLink="/home" *ngIf="(isHandset$ | async) === true" (click)="drawer.toggle()">Home</a>
          <a mat-list-item routerLink="/home" *ngIf="(isHandset$ | async) === false">Home</a>
          <a mat-list-item routerLink="/post" *ngIf="(isHandset$ | async) === true"
            (click)="drawer.toggle()">Properties</a>
          <a mat-list-item routerLink="/post" *ngIf="(isHandset$ | async) === false">Properties</a>
          <a mat-list-item routerLink="/contact" *ngIf="(isHandset$ | async) === true"
            (click)="drawer.toggle()">Contact</a>
          <a mat-list-item routerLink="/contact" *ngIf="(isHandset$ | async) === false">Contact</a>
        </div>

      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/photos/house_outline.png" alt="" width="40">
      <span class="site-title">{{pageContent.siteName}}</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <mat-toolbar color="primary" class="footer">
      <span id="copyright">© 2024 {{pageContent.siteName}}</span>
      <!-- <span id="creator">Created by Keith Isbell</span> -->
      <a id="creator" routerLink="/privacy">Privacy Policy</a>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>