<body>
    <div class="form-wrapper">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <h1 class="input-wrapper">Set Password</h1>
            <p>Enter and confirm your password</p>
            <!-- <label>User Name </label> -->
            <input placeholder="Enter Password" type="password" formControlName="password">
            <div>
                <span style="color: red" *ngIf="!resetPasswordForm.get('password')?.valid">
                    At least: 1 uppercase, 1 lowercase, 1digit, 1special character,
                    8 characters long.</span>
            </div><br><br>
            <!-- <label>Password </label> -->
            <input placeholder="Confirm Password" type="password" formControlName="confirmPassword">
            <div>
                <span style="color: red" *ngIf="resetPasswordForm.controls['confirmPassword'].errors?.['matching']">
                    The passwords must match.</span>
            </div><br><br>

            <!-- <div>
               {{currentName}}, {{currentID}}, {{loggedIn}}
            </div> -->
            <div class="d-flex justify-content-center">
                <button mat-flat-button class="input-wrapper" mat-flat-button color="primary">Submit</button>
            </div>
        </form>
    </div>
</body>