<div class="searchWrapper" id="AnchorId">
    <div class="searchContainer">
        <!-- Column 1 -->
        <div class="column1">
            <mat-form-field appearance="outline" class="search-box">
                <mat-label>Filter content</mat-label>
                <input *ngIf="archived === false" matInput #searchkeyword [(ngModel)]="filterKeyword"
                    (ngModelChange)="searchByKeyword(searchkeyword.value)" name="searchKey" id="searchKey"
                    placeholder="Filter content">
                <input *ngIf="archived === true" matInput #searchkeyword [(ngModel)]="filterKeyword"
                    (ngModelChange)="searchByKeywordA(searchkeyword.value)" name="searchKey" id="searchKey"
                    placeholder="Filter content">
            </mat-form-field>

            <div class="active-wrapper">
                <span>Active Properties: <strong>{{postLength}}</strong></span>
            </div>

            <div class="button-wrapper">
                <button class="active" mat-button color="primary" routerLink="/add">Add New</button>
                <mat-slide-toggle class="active" [(ngModel)]="archived" (ngModelChange)="onArchive()">
                    Archived
                </mat-slide-toggle>
            </div>
        </div>

        <!-- Column 2: Donate Section -->
        <div class="column2">
            <div class="donate-text">Donate securely using<br>
                PayPal to support this project</div>
            <a href="https://www.paypal.com/donate/?hosted_button_id=QCBB3HCU2ZJJA" target="_blank"
                rel="noopener noreferrer">
                <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" alt="Donate with PayPal"
                    class="paypal-button" />
            </a>
        </div>
    </div>
</div>



<div class="list-wrapper" *ngFor="let p of postList.slice(0,100).reverse(); let i=index;">
    <div class="content-wrapper"><strong>{{p.title}}</strong></div>
    <div class="content-wrapper">{{p.content}}</div>
    <!-- <img class="img" width="300" src="{{p.photoURL}}" alt=""> -->
    <div class="media-row">
        <img class="img" width="300" [src]="p.photoURL" alt="">

        <!-- Buttons column -->
        <div class="button-container">

            <button class="btn" mat-button color="primary" [routerLink]="['/post', p.postId]">
                Add/Edit Actions
            </button>

            <a *ngIf="p.title" [href]="getZillowUrl(p.title)" target="_blank">
                <button class="btn" mat-button color="primary">View on Zillow</button>
            </a>

            <a *ngIf="p.title" [href]="getAppleMapsUrl(p.title)" target="_blank">
                <button class="btn" mat-button color="accent">Apple Maps</button>
            </a>

            <a *ngIf="p.title" [href]="getGoogleMapsUrl(p.title)" target="_blank">
                <button class="btn" mat-button color="accent">Google Maps</button>
            </a>
        </div>

        <!-- Right-side footer -->
        <div class="post-footer">
            <button class="btn" mat-button color="primary" (click)="onClick('AnchorId')">
                To Top
            </button>

            <div class="posted-wrapper">
                {{ p.posted | date:"MM/dd/yy, HH:mm"}},
                <a [routerLink]="['/profile', p.userId_fk]">
                    <strong>{{p.userName}}</strong>
                </a>
            </div>
        </div>
    </div>
</div>